<nav class="navbar navbar-expand navbar-light bg-light">  
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink] = "['/station']">View Stations</a></li>
    <li><a class="nav-link" [routerLink]= "['/trip']">View Trips</a></li>
    <li><a class="nav-link" [routerLink]= "['/addstation']">Add Station</a></li>
    <li><a class="nav-link" [routerLink]= "['/addtrip']">Add Trip</a></li>
    <li><a class="nav-link" [routerLink]= "['/modifystation']">Update Station</a></li>
    <li><a class="nav-link" [routerLink]= "['/modifytrip']">Update Trip</a></li>
  </ul>
</nav>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active" >
        
        <a routerLink="/login" class="nav-link" ng-reflect-router-link="/login" href="/login">Sign In </a> 
        
        </h2>
        <h2 class="inactive underlineHover" >
        <nav>
            <a routerLink="/signup" class="nav-link" ng-reflect-router-link="/signup" href="/signup">Sign Up </a> 
        </nav>
        </h2>

      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>