<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active" >
        
        <a routerLink="/login" class="nav-link" ng-reflect-router-link="/login" href="/login">Sign In </a> 
        
        </h2>
        <h2 class="inactive underlineHover" >
        <nav>
            <a routerLink="/signup" class="nav-link" ng-reflect-router-link="/signup" href="/signup">Sign Up </a> 
        </nav>
        </h2>

      <div>
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="Username" [(ngModel)]="name">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password"[(ngModel)]="password">
        <input type="submit" class="fadeIn fourth" value="Log In"(click) = "SignUp(name,password)">
      </div>
  
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
