<nav class="navbar navbar-expand navbar-light bg-light">  
    <ul class="nav nav-pills">
      <li><a class="nav-link" [routerLink] = "['/station']">View Stations</a></li>
      <li><a class="nav-link" [routerLink]= "['/trip']">View Trips</a></li>
      <li><a class="nav-link" [routerLink]= "['/addstation']">Add Station</a></li>
      <li><a class="nav-link" [routerLink]= "['/addtrip']">Add Trip</a></li>
      <li><a class="nav-link" [routerLink]= "['/modifystation']">Update Station</a></li>
      <li><a class="nav-link" [routerLink]= "['/modifytrip']">Update Trip</a></li>
      <li><a class="nav-link" [routerLink]= "['/deletetrip']">Delete Trip</a></li>
     <li><a class="nav-link" [routerLink]= "['/deletestation']">Delete Station</a></li>
    </ul>
  </nav>
<div class="card" style="text-align: left;">
    <div class="card-header">
        Trips
    </div>
</div>

<div class="table">
    <table class="trip table">
        <thead>
            <tr >
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody *ngFor="let trip of trips">
            <tr>
                <td>{{trip.id}}</td>
                <td>{{trip.fromStation.name}}</td>
                <td>{{trip.toStation.name}}</td>
                <td>{{trip.startDate}}</td>
                <td>{{trip.endDate}}</td>
            </tr>
        </tbody>
    </table>
</div>
