<div class="card" style="text-align: left;">
    <div class="card-header">
        Trips
    </div>
</div>
<div class="table">
    <table class="trip table">
        <thead>
            <tr>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20195556</td>
                <td>Cairo</td>
                <td>Aswan</td>
                <td>7:00 AM</td>
                <td>7:00 PM</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="text-align:right ;">
    <button class ="Edit">
        Edit
    </button>
    <button class ="Add">
        Add
    </button>
    <button class ="Delete">
        Delete
    </button>
</div>