<nav class="navbar navbar-expand navbar-light bg-light">  
    <ul class="nav nav-pills">
      <li><a class="nav-link" [routerLink] = "['/station']">View Stations</a></li>
      <li><a class="nav-link" [routerLink]= "['/trip']">View Trips</a></li>
      <li><a class="nav-link" [routerLink]= "['/addstation']">Add Station</a></li>
      <li><a class="nav-link" [routerLink]= "['/addtrip']">Add Trip</a></li>
      <li><a class="nav-link" [routerLink]= "['/modifystation']">Update Station</a></li>
      <li><a class="nav-link" [routerLink]= "['/modifytrip']">Update Trip</a></li>
    </ul>
  </nav>
<div class="card" style="text-align: left;">
    <div class="card-header">
        Stations
    </div>
</div>
<div class="table">
    <table class="station table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            
            </tr>
        </thead>
        <tbody *ngFor="let station of stations">
            <tr>
                <td>{{station.id}}</td>
                <td>{{station.name}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
