<div class="card" style="text-align: left;">
    <div class="card-header">
        Stations
    </div>
</div>
<div class="table">
    <table class="station table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20195555</td>
                <td>Cairo Station</td>
                
            </tr>
        </tbody>
    </table>
</div>
<div style="text-align:right ;">
    <button class ="Edit">
        Edit
    </button>
    <button class ="Add">
        Add
    </button>
    <button class ="Delete">
        Delete
    </button>
</div>
