<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink] = "['/station']">View Stations</a></li>
    <li><a class="nav-link" [routerLink]= "['/trip']">View Trips</a></li>
    <li><a class="nav-link" [routerLink]= "['/addstation']">Add Station</a></li>
    <li><a class="nav-link" [routerLink]= "['/addtrip']">Add Trip</a></li>
    <li><a class="nav-link" [routerLink]= "['/modifystation']">Update Station</a></li>
    <li><a class="nav-link" [routerLink]= "['/modifytrip']">Update Trip</a></li>
    <li><a class="nav-link" [routerLink]= "['/deletestation']">Delete Station</a></li>
    <li><a class="nav-link" [routerLink]= "['/deletetrip']">Delete Trip</a></li>
  </ul>
</nav>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <form>
      <input type="text" id="id" class="fadeIn second" name="id" placeholder="Station id" [(ngModel)]="id">
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="Station Name" [(ngModel)]="name">
      <input type="submit" class="fadeIn fourth" value="Update station" (click)="modifyStation(id,name)" >
    </form>
  </div>
</div>
