
<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <h2 class="inactive underlineHover" >
        
        <a routerLink="/login" class="nav-link" ng-reflect-router-link="/login" href="/login">Sign In </a> 
        
        </h2>
 
        <h2 class="active" >
        <nav>
            <a routerLink="/signup" class="nav-link" ng-reflect-router-link="/signup" href="/signup">Sign Up </a> 
        </nav>
        </h2>
   
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="First Name">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Last Name">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Sign Up">
      </form>
  
    
  
    </div>
  </div>